$color-black: #000;
$color-dark-grey: #222;

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  span {
    font-size: 1.4rem;
    font-weight: 300;
  }

  &__form {
    text-align: center;
    width: 100%;

    // 440px
    @media only screen and (min-width: 27.5em) {
      width: 80%;
    }

    // 576
    @media only screen and (min-width: 36em) {
      width: 90%;
    }

    // 768
    @media only screen and (min-width: 48em) {
      width: 100%;
    }
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  // 440px
  @media only screen and (min-width: 27.5em) {
    width: 80%;
  }

  // 576
  @media only screen and (min-width: 36em) {
    width: 90%;
  }

  // 768
  @media only screen and (min-width: 48em) {
    width: 100%;
  }

  & > :first-child {
    margin-right: 2rem;

    // 768px
    @media only screen and (min-width: 48em) {
      margin-right: 0;
    }
  }
}
