.signin-signup-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  // 768px
  @media only screen and (min-width: 48em) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 7rem;
  }
  // 992px
  @media only screen and (min-width: 62em) {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
