.cart-icon {
  width: 4.5rem;
  height: 4.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  ::selection {
    background-color: transparent;
  }

  .shopping-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .item-count {
    position: absolute;
    font-size: 1rem;
    color: #000;
    bottom: 1rem;
    font-weight: 700;
  }
}
