$color-black: #000;
$color-white: #fff;

.custom-button {
  font-size: 1rem;
  padding: 0.8rem;
  text-transform: uppercase;
  transition: all 0.3s ease-out;
  border: 1px solid transparent;
  transform: translateY(0);
  background-color: #007bff;
  color: $color-white;

  @media only screen and (min-width: 25em) {
    font-size: 1.4rem;
    padding: 1rem 2rem;
  }

  @media only screen and (min-width: 62em) {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    transform: translateY(2px);
  }

  &__black-inverted {
    background-color: $color-black;
    color: $color-white;
  }
  &__black-inverted:hover {
    background-color: $color-white;
    color: $color-black;
    border: 1px solid $color-black;
    opacity: 1;
  }

  &__check-out {
    background-color: rgba($color-white, 0.6);
    color: $color-black;
    padding: 1rem 2rem;
  }

  &__check-out:hover {
    background-color: rgba($color-black, 0.7);
    color: $color-white;
  }
}
