.navbar {
  margin: 3rem 0;
  position: relative;

  // 600px
  @media only screen and (min-width: 37.5em) {
    background-color: transparent;
  }

  &__nav {
    align-items: center;
  }

  &__item {
    margin: 1rem 0;
    font-size: 1.8rem;
    color: #333;
    font-weight: 300;
    cursor: pointer;

    &:hover {
      color: #777;
    }

    // 576px
    @media only screen and (min-width: 36em) {
      margin: 0 1rem;
    }
  }

  // 634px (before mobile nav)
  a {
    color: inherit;
  }
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
