.shop-title {
  font-weight: 300;
  font-size: 3rem;
  margin: 2rem 0;
  display: inline-block;
  cursor: pointer;
  color: #000;
  transition: color 0.2s ease-out;
}

.shop-title:hover {
  opacity: 0.9;
  text-decoration: none;
  color: #333;
}

.shop-card {
  border: none;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-out;
  height: 100%;

  &:hover button {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  // 576 (the width when images takes 100% of the row width)
  @media only screen and (min-width: 36em) {
    margin-bottom: 2rem;
  }

  &__img-container {
    // 576 (the width when images takes 100% of the row width)
    @media only screen and (min-width: 36em) {
      height: 35rem;
    }
    // 992px biggest breakpoint
    @media only screen and (min-width: 62em) {
      height: 30rem;
    }

    // for large screens
    @media only screen and (min-width: 80rem) {
      height: 35rem;
    }
  }

  // 576 (the width when images takes 100% of the row width)
  &__img-container img {
    @media only screen and (min-width: 36em) {
      height: 100%;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 80%;
    // to over write the customButton transfrom
    transform: translateX(-50%) !important;

    // to fix button text splited into 2 lines
    // 538px
    @media only screen and (min-width: 33.625em) {
      // to over write the customButton transfrom
      padding: 1rem !important;
    }

    // 576px (2 column grid)
    @media only screen and (min-width: 36em) {
      bottom: 25%;
    }

    // to fix button text splited into 2 lines
    // 768px
    @media only screen and (min-width: 48em) {
      padding: 1rem 2rem;
    }

    // 770px to make it work untill iPad width
    @media only screen and (min-width: 48.125em) {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  }

  &__button:active {
    // to over write the customButton transfrom
    transform: translateY(2px) translateX(-50%) !important;
  }
}
